[MASTER]
ignore=tests

[MESSAGES CONTROL]
disable = duplicate-code, broad-exception-caught, invalid-name, missing-module-docstring, missing-class-docstring, missing-function-docstring, line-too-long, too-few-public-methods
